@font-face {
   font-family: "vazir";
   src: url(./../assets/Font/Vazir-Regular.ttf);
}

:root {
   --primary-color: #ffffff;
   --secondary-color: #f3f3f3;
   --purple-color: #6c59e5;
   --red-color: #a22029;
}

html {
   font-size: 10px;
}

body {
   font-size: 1.6rem;
}

* {
   font-family: "vazir" !important;
}

th,
td,
tr {
   text-align: center;
   padding: 1rem 0 !important;
}
